[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
websockets = "==6.0"
python-dateutil = "*"
kucoin-python = "*"
aiohttp = "*"
pyinstaller = "*"

[dev-packages]

[requires]
python_version = "3.7"
